# -*- coding: utf-8 -*-
# vim: ft=yaml
---
varnish:
  # # Overrides map.jinja
  # lookup:
  #   version: xxx

  # The files_switch key serves as a selector for alternative directories unde
  # the formula files directory. See TOFS pattern doc for more info.
  files_switch:
    - id
    - os_family

  # Listen address:port
  listen: ':80'

  # specify which vcl to load on service start. defaults to default.vcl
  default_vcl: mycustom.vcl

  # List of storage backends
  storages:
    - 'main=malloc,512m'
    - 'secondary=malloc,256m'

  # Parameters to be set on start with the -p param=value option
  params:
    default_ttl: 120
    default_grace: 10
    thread_pool_min: 50
    thread_pool_max: 1000
    thread_pool_timeout: 120

  # Extra options for varnishd invocation
  extra_options: '-u varnish -g varnish'

  # VCL templates and pillar values used in them
  vcl:
    version: '3.0'
    backend_default_host: 10.1.1.1
    backend_default_port: 80
    files:
      - default.vcl
    files_absent:
      - absent.vcl

  #
  # varnish ng states
  #
  ng:
    lookup:
      repo: 'varnish41'  # to specify another custom repo than default (varnish40)
    enabled: true  # Optional; useful to disable the service (enabled: false)
    install_from_repo: true  # Without this, varnish is installed from stock-repo

    # Init files configuration
    # (/etc/default/varnish, /etc/sysconfig/varnish or /etc/varnish/varnish.params)
    # can be done either with salt:// uploading the file directly:
    config_source_path: salt://hostname/varnish-init

    # or with the options directly (only one must be used)
    config_file:
      START: "yes"
      NFILES: "131072"
      MEMLOCK: "82000"
      DAEMON_OPTS: >-
        -a :6081
        -T localhost:6082
        -f /etc/varnish/default.vcl
        -S /etc/varnish/secret
        -s malloc,100m

    vcl:
      files:
        default:
          path: /etc/varnish/default.vcl
          source_path: salt://testing/default.vcl
        mobile_detect:
          enabled: false  # Remove that VCL
          path: /etc/varnish/mobile_detect.vcl
          source_path: salt://testing/mobile_detect.vcl
    varnishncsa:
      enabled: true  # Manage varnishncsa service
