# -*- coding: utf-8 -*-
# vim: ft=jinja

{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'varnish',
        'service': 'varnish',
        'varnishncsa_service': 'varnishncsa',
        'config': '/etc/default/varnish',
        'repo': 'varnish40',
    },
    'RedHat': {
        'pkg': 'varnish',
        'service': 'varnish',
        'varnishncsa_service': 'varnishncsa',
        'config': salt['grains.filter_by']({
            '2': '/etc/varnish/varnish.params',
            '6': '/etc/sysconfig/varnish',
            '7': '/etc/varnish/varnish.params',
            '8': '/etc/varnish/varnish.params',
            '30': '/etc/varnish/varnish.params',
            '31': '/etc/varnish/varnish.params',
            '32': '/etc/varnish/varnish.params',
            '33': '/etc/varnish/varnish.params',
            '34': '/etc/varnish/varnish.params',
        }, grain='osmajorrelease'),
        'repo': 'varnish40',
    },
    'Suse': {
        'pkg': 'varnish',
        'service': 'varnish',
        'varnishncsa_service': 'varnishlog',
        'config': '/etc/sysconfig/varnish',
    },
    'Arch': {
        'pkg': 'varnish',
        'service': 'varnish',
        'varnishncsa_service': '',
        'config': '/etc/default/varnish',
    },
}, merge=salt['pillar.get']('varnish:ng:lookup')) %}

{% set varnish_settings = salt['pillar.get'](
        'varnish:ng',
        default=os_family_map,
        merge=True
    )
%}
